// u-button-small
.u-button--small {
  min-width: 52px !important;
  height: 26px !important;
}

// u-tag-mini
.u-tag--mini {
  height: 14px !important;
  line-height: 14px !important;
}
.u-tag__text--mini {
  font-size: 10px !important;
}

// u-modal__title
.u-modal__title {
  color: #333 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
